<div>
  <p>Authentication page.</p>

  <!-- <div
    id="g_id_onload"
    data-client_id="320589471933-agpn8nf7qtauj6gaij1jm6omfruf7o95.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-callback="googleSignIn"
    data-itp_support="true"
  ></div>

  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="outline"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left"
  ></div> -->
</div>

<router-outlet />
